.item {
  height: 70px;
  display: flex;
  color: black;
  padding-left: 20px;
  align-items: center;
}

.item_day {
  margin-top: -5px;
  color: darkgray;
  font-size: 13px;
  cursor: default;
}

.item_date {
  margin-right: 70px;
  margin-top: -16px;
  cursor: default;
}
